{% extends 'base.html.twig' %}

{% block title %}SourceRSS{% endblock %}

{% block body %}
    <h1>SourceRSS</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ source_r_s_s.id }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ source_r_s_s.summary }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ source_r_s_s.url }}</td>
            </tr>
            <tr>
                <th>Enabled</th>
                <td>{{ source_r_s_s.enabled }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_source_r_s_s_index') }}">back to list</a>

    <a href="{{ path('app_source_r_s_s_edit', {'id': source_r_s_s.id}) }}">edit</a>

    {{ include('source_rss/_delete_form.html.twig') }}
{% endblock %}
